out
dot-atom
docs
apm
benchmarks
menus
keymaps
exports
packages
resources
script
spec
static
vendor
src/application-delegate.js
src/atom-environment.js
src/atom-paths.js
src/auto-update-manager.js
src/babel.js
src/buffered-node-process.js
src/buffered-process.js
src/clipboard.js
src/coffee-script.js
src/color.js
src/command-installer.js
src/command-registry.js
src/compile-cache.js
src/config-file.js
src/config-schema.js
src/config.js
src/context-menu-manager.coffee
src/core-uri-handlers.js
src/crash-reporter-start.js
src/cursor.js
src/custom-event-mixin.coffee
src/decoration-manager.js
src/decoration.js
src/default-directory-provider.coffee
src/default-directory-searcher.coffee
src/delegated-listener.js
src/deprecated-syntax-selectors.js
src/deserializer-manager.js
src/dock.js
src/electron-shims.js
src/file-system-blob-store.js
src/first-mate-helpers.js
src/get-window-load-settings.js
src/git-repository-provider.coffee
src/git-repository.js
src/grammar-registry.js
src/gutter-container.js
src/gutter.js
src/history-manager.js
src/initialize-application-window.coffee
src/initialize-benchmark-window.js
src/initialize-test-window.coffee
src/ipc-helpers.js
src/item-registry.js
src/keymap-extensions.coffee
src/layer-decoration.coffee
src/less-compile-cache.coffee
src/menu-helpers.js
src/menu-manager.coffee
src/menu-sort-helpers.js
src/model.coffee
src/module-cache.js
src/native-compile-cache.js
src/native-watcher-registry.js
src/notification-manager.js
src/notification.js
src/null-grammar.js
src/overlay-manager.coffee
src/package-manager.js
src/package-transpilation-registry.js
src/package.js
src/pane-axis-element.coffee
src/pane-axis.js
src/pane-container-element.js
src/pane-container.js
src/pane-element.js
src/pane-resize-handle-element.coffee
src/pane.js
src/panel-container-element.js
src/panel-container.js
src/panel.js
src/path-watcher.js
src/project.js
src/protocol-handler-installer.js
src/register-default-commands.coffee
src/reopen-project-list-view.js
src/reopen-project-menu-manager.js
src/replace-handler.coffee
src/scan-handler.coffee
src/scope-descriptor.js
src/selection.js
src/selectors.js
src/special-token-symbols.coffee
src/state-store.js
src/storage-folder.js
src/style-manager.js
src/styles-element.coffee
src/syntax-scope-map.js
src/task-bootstrap.js
src/task.coffee
src/test.ejs
src/text-editor-component.js
src/text-editor-element.js
src/text-editor-registry.js
src/text-editor.js
src/text-mate-language-mode.js
src/text-utils.js
src/theme-manager.js
src/theme-package.js
src/title-bar.js
src/token-iterator.js
src/token.coffee
src/tokenized-line.coffee
src/tooltip-manager.js
src/tooltip.js
src/tree-sitter-grammar.js
src/tree-sitter-language-mode.js
src/typescript.js
src/update-process-env.js
src/uri-handler-registry.js
src/view-registry.js
src/window-event-handler.js
src/window.js
src/workspace-center.js
src/workspace-element.js
src/workspace.js
src/main-process/application-menu.js
src/main-process/atom-application.js
src/main-process/atom-protocol-handler.js
src/main-process/atom-window.js
src/main-process/auto-update-manager.js
src/main-process/auto-updater-win32.js
src/main-process/context-menu.js
src/main-process/file-recovery-service.js
src/main-process/main.js
src/main-process/parse-command-line.js
src/main-process/spawner.js
src/main-process/squirrel-update.js
src/main-process/start.js
src/main-process/win-powershell.coffee
src/main-process/win-powershell.js
src/main-process/win-shell.js
